*{
    margin: 0;
    box-sizing: border-box;
}
.banner-container{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(8, 1fr);
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/banner2.jpg);
    background-size: cover;
}
.header{
    grid-column: 1/6;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
}
.logo-container{
    margin-left: 3rem;
    padding: 2rem 1rem;
}
@keyframes mind-animation{
    from{
        color:rgb(10, 10, 10);

    }
    to{
        color:antiquewhite;
    }
}
.logo-title{
    margin: 0;
    display: inline-block;
    font-family: 'Cairo', sans-serif;
    font-size: 2rem;
    letter-spacing: .3rem;
}
.logo-title-bw{ 
    animation-duration: 15s;
    animation-name: mind-animation;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: 1s;
    cursor: pointer;
}
.logo-title--color{
    color: rgb(210, 101, 17);
}
.nav-list{
    padding: 2rem 1rem;
}
.nav-item{
    display: inline-block;
    list-style: none;
    margin: 0 2rem;
}
.nav-link{
    display: inline-block;
    margin: 0;
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
    font-size: 2rem;
    letter-spacing: .2rem;
    color: antiquewhite;
}
.nav-link--color{
    color: rgb(210, 101, 17);
    letter-spacing: .3rem;
}
.nav-link::first-letter{
    color: rgb(210, 101, 17);
}
.nav-link:hover{
    color: rgb(210, 101, 17);
    transition: .6s;
}
.nav-link::first-letter:hover{
    color: antiquewhite;
    transition: .6s;
}
.content{
    grid-column: 1/3;
    grid-row: 2/8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 4rem;
    
}
.content-title{
    display: inline-block;
    font-family: 'Cairo', sans-serif;
    font-size: 2.8rem;
    letter-spacing: .2rem;
    margin-bottom: .1rem;
}
.content-subtitle{
    font-family: 'Cairo', sans-serif;
    font-size: 1.1rem;
    color: rgb(210, 101, 17);
    letter-spacing: .1rem;
    margin-bottom: 1rem;
}
.content-text{
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
    color: antiquewhite;
}
.text-style{
    letter-spacing: .2rem;
    font-weight: 600;
    color: rgb(4,4,4);
}
.content-text--color{
    color: rgb(5, 5, 5);
    text-decoration: underline;
}
.text-link{
    color: rgb(210, 101, 17);
    font-family: 'Raleway', sans-serif;
}
.text-link:hover{
    text-decoration: underline;
}
.card-container{
    grid-column: 3/6;
    grid-row: 2/8;
    display: grid;
    grid-template-columns: 30rem 34rem;
    grid-template-rows: 18rem 18rem;
    column-gap: 3rem;
    row-gap: 4rem;
    width: 100%;
    padding: 3rem 1rem;
}
@keyframes hover-animation {
    0%{
        background-size: cover;
    }
    50%{
        background-size: 30rem;
    }
    100%{
        background-size: 45rem;
    }
}
.card-item1{
    grid-row: 1/2;
    grid-column:1/2;
    background-image: url(../assets/images/tarjeta1-img.jpg);
    background-size: cover;
    border-radius: .2rem;
    padding: 1rem;
}
.card-item1:hover{
    transition: all 3s;
    animation: hover-animation .7s ease-out;
    background-size: 45rem;
}
.card-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: antiquewhite;
    padding: 3rem 1rem 1rem;
    width: 40%;
}
.card-text-title{
    font-family: 'Cairo', sans-serif;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    color: rgb(4,4,4);
    text-align: center;
    margin-bottom: 1.2rem;
}
.card-text-content{
    font-family: 'Cairo', sans-serif;
    font-size: .9rem;
    letter-spacing: .1rem;
}
.card-item2{
    grid-row: 2/3;
    grid-column:1/2;
    background-image: url(../assets/images/img-ocean.jpg);
    background-size: cover;
    padding: 1rem;
}
.card-item2-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: antiquewhite;
    padding: 3rem 1rem 1rem;
    width: 40%;
}
.card-item2:hover{
    transition: all 2s;
    animation: hover-animation .8s ease-in-out;
    background-size: 45rem;
}
.card-item3{
    position: relative;
    grid-row: 1/3;
    grid-column:2/3;
    background-image: url(../assets/images/img-laberinto1.jpg);
    background-size: cover;
    border-radius: .2rem;
    padding: 1rem;
}
.card-item3-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: antiquewhite;
    padding: 3rem 1rem 1rem;
    width: 40%;
    height: 99%;
}
.footer{
    grid-column: 1/6;
    grid-row: 8/9;
    display: flex;
    justify-content: space-between;
    padding: 4rem 4rem 0;
}
.footer-content{
    display: flex;
    align-items: baseline;
    color: rgb(210, 101, 17);
}
.footer-title{
    font-family: 'Cairo', sans-serif;
    font-size: 1rem;
    letter-spacing: .2rem;
}
.footer-title-copy{
    display: inline-block;
    font-size: 1.4rem;
    margin-right: .1rem;
}
.footer-nav{
    display: flex;
    justify-content: flex-start;
    column-gap: 2rem;
}
.footer-icon{
    display:inline-block;
    margin: 0;
    color: rgb(210, 101, 17);
}
.footer-item{
    list-style: none;
    display: inline-block;
    font-size: 1.5rem;
    margin: 0 1.2rem;
    animation-duration:15s;
    animation-name: mind-animation;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
